ENV=development

SECRET=ABC5dasar1231412
AES_SECRET=ABC5dasar1231412

APP_NAME=GolangTemplate

ALLOWED_HOST=localhost

DB_DRIVER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=password
DB_NAME=go_test

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY_ID=admin
MINIO_SECRET_ACCESS_KEY=password
MINIO_USE_SSL=false
MINIO_BUCKET=golang-template

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USER=root
MONGO_PASSWORD=password
MONGO_DATABASE=test_go_kit
